// Laptop, Desktop, TVs
@include mediaXl {
  // Menu Overlay
  header {
    position: static;
    width: 100%;
    background-color: rgba($primary-color, 0.7);
    display: flex;
    justify-content: center;

    .menu-btn {
      display: none;
    }

    // Menu
    .menu {
      position: static;
      width: 996px;
      visibility: visible;
      transform: translateX(0);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      margin: 0 6rem;
      @include ease();
      // border: 2px solid red;

      &-brand,
      &-nav {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
      }

      &-brand {
        .img-profile {
          margin-top: 0;
          border: 3px solid $third-color;
          width: 64px;
          height: 64px;
        }
      }

      &-nav {
        display: flex;
        gap: 24px;

        .nav-item {
          @include ease;
          border-radius: 4px;
          transform: translateX(0px);

          a {
            padding: 10px 16px;
            font-size: 14px;

            i {
              font-size: 0;
              margin-right: 0;
            }
          }
        }
      }

      &-hidden {
        display: inline-block;
        visibility: hidden;
      }
    }
  }
}

///////////////////////////////////////////////

// Tablets
@include mediaMd {
  //Menu Overlay
  .menu {
    width: 300px;
    height: 100%;
    background-color: darken($primary-color, 4);
  }

  // Main
  main {
    min-height: calc(100vh - 64px);
    padding: 4rem 4rem 6rem;

    h1,
    h2 {
      &.lg-heading {
        font-size: 3rem;
      }

      &.sm-heading {
        font-size: 1.2rem;
      }
    }

    &#home {
      .image-profile {
        display: inline;
        margin-top: 3rem;
        width: 240px;

        img {
          @include image-profile();
        }
      }

      h1 {
        margin-top: 2.5vh;
      }
    }

    // Portfolio Page
    &#portfolio {
      .portfolio {
        grid-template-areas:
          "port1 port2"
          "port3 port4"
          "port5 port5";

        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        .port {
          max-width: 100%;

          &.port5 {
            padding: 2rem;
            max-width: 100%;
            font-size: 1.2rem;
          }
        }
      }
    }

    // About Page
    &#about {
      .image-profile {
        width: 120px;
      }

      .about {
        .skill-lang {
          flex-direction: column;
        }
      }
    }
  }
}

///////////////////////////////////////////////////

// Smartphones
@include mediaSm {
  // Initial
  h1,
  h2 {
    &.lg-heading {
      font-size: 2.5rem;
    }

    &.sm-heading {
      font-size: 1rem;
    }
  }

  //Menu Overlay
  .menu {
    width: 60vw;
  }

  // Main
  main {
    padding: 3rem 3rem;

    // Home Page
    &#home {
      .image-profile {
        width: 180px;
      }

      h1 {
        margin-top: 2vh;
      }
    }

    // Portfolio Page
    &#portfolio {
      .lg-heading {
        margin-top: 4vh;
        margin-bottom: 1rem;
      }
      .portfolio {
        grid-template-areas:
          "port1"
          "port2"
          "port3"
          "port4"
          "port5";

        grid-template-columns: repeat(1, 1fr);

        .port.port5 {
          padding: 1rem;
          font-size: 24px;
        }
      }
    }

    // About Page
    &#about {
      .image-profile {
        width: 100px;
      }

      .about {
        .education,
        .experience,
        .skill-lang > .skill,
        .skill-lang > .lang {
          .content-page {
            padding: 16px 0;
          }
        }
      }
    }
  }
}
