@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: rgba($primary-color, $bg-opacity);
  color: set-text-color($primary-color);
  margin: 0;
  font-family: "Montserrat", arial, sans-serif;
}

h1,
h2 {
  margin: 0;

  &.lg-heading {
    font-size: 4rem;
    margin-bottom: 20px;

    span {
      color: $secondary-color;
    }
  }

  &.sm-heading {
    color: set-text-color($primary-color);
    margin-bottom: 20px;
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  min-height: calc(100vh - 64px - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 6rem 6rem;
}

// Home Page
main#home {
  overflow: hidden;

  .image-profile {
    display: none;

    img {
      width: 100%;
    }
  }

  h1 {
    margin-top: 18vh;
    text-align: center;
  }

  h2 {
    margin-bottom: 3rem;
    padding: 0.5rem 1rem;
    background-color: $third-color;
    border-radius: 4px;
    display: inline-block;
  }

  .icon {
    a {
      margin-right: 0.8rem;
      font-size: 1.4rem;
      @include ease();

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

// Portfolio Page
main#portfolio {
  .lg-heading {
    margin-bottom: 3rem;
  }

  .portfolio {
    display: grid;
    max-width: 996px;
    grid-template-areas:
      "port1 port2 port3"
      "port4 port5 port6";

    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .port {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 12px 12px 8px 8px;
      background-color: rgba($primary-color, 0.7);
      @include ease;

      img {
        transform: translateY(48px);
        width: 70%;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        background-size: cover;
        @include ease;

        &:hover {
          transform: translateY(24px);
        }
      }

      .desc-item {
        z-index: 2;
        padding: 1rem;
        width: 100%;
        background-color: $secondary-color;
        text-align: center;

        a {
          font-weight: 700;
          font-size: 20px;

          @include ease;
          &:hover {
            color: darken($secondary-color, 50);
          }
        }
      }

      &:hover {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
      }
    }

    .port1 {
      grid-area: port1;
    }
    .port2 {
      grid-area: port2;
    }
    .port3 {
      grid-area: port3;
    }
    .port4 {
      grid-area: port4;
    }
    .port5 {
      grid-area: port5;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      padding: 1rem;
      font-weight: 700;
      background-color: $third-color;
      text-transform: uppercase;
      color: set-text-color($third-color);
      border-radius: 12px;
      cursor: pointer;
      @include ease;

      &:hover {
        background-color: darken($third-color, 30);
        color: set-text-color($primary-color);
      }
    }
  }
}

main#about {
}

.footer {
  padding: 20px 0px;
  font-size: 1rem;
  text-align: center;
  background-color: $secondary-color;
  color: set-text-color($secondary-color);
  height: 64px;

  a {
    margin-right: 16px;
    font-size: 20px;
    @include ease;

    &:hover {
      color: darken($secondary-color, 40);
    }
  }
}

@import "responsive";
