@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: rgba($primary-color, $bg-opacity);
  color: set-text-color($primary-color);
  margin: 0;
  font-family: "Montserrat", arial, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;

  &.lg-heading {
    font-size: 4rem;
    margin-bottom: 20px;

    span {
      color: $secondary-color;
    }
  }

  &.sm-heading {
    color: set-text-color($primary-color);
    margin-bottom: 3rem;
    padding: 0.5rem 1rem;
    background-color: $third-color;
    border-radius: 4px;
    display: inline-block;
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 3;
  width: 100%;
}

main {
  min-height: calc(100vh - 40px);
  padding: 4rem;
  height: 100%;

  .icon {
    a {
      margin-right: 0.8rem;
      font-size: 1.4rem;
      @include ease();

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

// Portfolio Page
main#portfolio {
  h1 {
    margin-top: 12vh;
    margin-bottom: 2rem;
  }

  .portfolio {
    display: grid;
    grid-template-areas:
      "port1 port1 port2 port3"
      "port1 port1 port4 port5";

    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    .port {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      @include ease;

      img {
        width: 100%;
        height: 100%;
        background-size: cover;
      }

      .hover-item {
        width: 100%;
        background-color: $secondary-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        font-size: 12px;
        position: absolute;
        transform: translateY(100%);
        bottom: 0;
        color: set-text-color($secondary-color);
        @include ease;

        i {
          font-size: 1rem;
          @include ease;

          &:hover {
            color: darken($secondary-color, 30);
          }
        }

        &.main {
          font-size: 1rem;
          i {
            font-size: 24px;
          }
        }
      }

      &:hover {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
      }

      &:hover .hover-item {
        transform: translateY(0);
      }
    }

    .port1 {
      grid-area: port1;
    }
    .port2 {
      grid-area: port2;
    }
    .port3 {
      grid-area: port3;
    }
    .port4 {
      grid-area: port4;
    }
    .port5 {
      grid-area: port5;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      padding: 1rem;
      font-weight: 500;
      background-color: $third-color;
      text-transform: uppercase;
      color: set-text-color($third-color);
      cursor: pointer;
      @include ease;

      &:hover {
        background-color: darken($third-color, 30);
        color: set-text-color($primary-color);
      }
    }
  }
}

.footer {
  padding: 8px;
  font-size: 1rem;
  text-align: center;
  background-color: $secondary-color;
  color: set-text-color($secondary-color);
  height: 40px;

  a {
    margin-right: 12px;
    @include ease;

    &:hover {
      color: darken($secondary-color, 40);
    }
  }
}

@import "responsive";
